@tailwind base
@tailwind components
@tailwind utilities

*
    text-decoration: none !important
    font-family: 'Noto Sans KR', sans-serif !important

.ProseMirror
    min-height: 325px
    img
        max-width: 325px
        height: auto

.toast
    padding: 0.25rem 0.5rem !important
    gap: 0.25rem
    .text-base
        transform: translateY(0.5px)
        width: 100%
    .btn-icon, .toast-actions
        align-items: center
        background: none !important
        height: fit-content
        width: fit-content
        padding: 0 !important
        margin: 0 !important

.dark
    --date-picker-selected-color: #FFF
    --date-picker-foreground: #FFF
    --date-picker-background: rgb(100, 116, 139)